<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<script src="../js/jquery.min.js"></script>
<body>
<form th:action="@{/updateUser}" method="post">
    <input type="hidden" name="id" th:value="${u.id}">
    用户名：<input type="text" th:value="${u.username}" name="username"/><br/>
<!--    性别：<input type="radio" th:checked="${u.gander==0}" value="0" name="gander"/>女-->
<!--    <input type="radio" th:checked="${u.gander==1}" th:if="${u.gander==1?'checked':''}" value="1" name="gander"/>男<br/>-->
    时间：<input type="date" th:value="${u.date}" name="date"/><br/>
    价格：<input type="number" th:value="${u.price}" name="price"/><br/>
    <input type="submit">
</form>
</body>
</html>